langchain-community
langchain-qdrant
langchain-openai
pypdf
qdrant-client
openai
langchain_huggingface
sentence-transformers
groq
python-dotenv
langchain-groq
langsmith
rank-bm25 
fastembed
guardrails-ai
guardrails-ai-prompt-injection-detector

